{% extends 'base.html.twig' %}

{% block body %}
<div class="card bg-light mb-3 mt-5" style="width: 800px">
    <div class="card-body">
        <div class="card-header mb-3">Connexion</div>

            {% if error %}
                <div style="color:red">{{ error.messageKey|trans(error.messageData,'security') }}</div>
            {% endif %}

            <form action="{{ path('security_login') }}" method="post">
                <div class="form-group">
                    <input placeholder="Adresse email..." requied name="_username" value="{{lastUsername}}"
                        type="email" class="form-control">
                </div>
                <div class="form-group">
                    <input placeholder="Mot de passe..." requied name="_password" type="password" class="form-control">
                </div>
                <div class="form-group">
                   <button type="submit" class="btn btn-primary">
                <i class="fa fa-btn fa-user"></i>Connexion
              </button>
</form>
{% endblock %}
    