{% extends 'base.html.twig' %}

{% block body %}
</br> </br>
<title>Bienvenue dans le site Li's Beauty !!!</title></br>

     
<h2 align="center"> Pourquoi Li's Beauty ?</h2></br> </br> 

<blockquote class="blockquote text-center">
<div style="width: 1220px; padding-top:20px; padding-bottom: 15px; margin-top: 10px ;text-align: center; background: #fdfbfb; border-radius: 20px 0 20px 0;>

 <p class="lead">l’idée de Li's Beauty est simple pour satisfaire ça clientèle, proposé une grande variété de maquillage de qualité originaux 
et sophistiquées et surtout avec les prix les plus compétitifs dans le marché du cosmétique.
Li's Beauty est le vendeur de maquillage pas cher a adopter rapidement pour les petits budget et qui répond 
a tous les besoins du quotidien a fin d’exprimer librement sa personnalité .</p> 
 </div> </br>
  <footer class="blockquote-footer" style="color:black">Lamriou Imane in <cite title="Source Title">Li's Beauty</cite></footer>
</blockquote>

{% endblock %}

